<div class="pagina col-12">
    <div class="container menu">
        <p-card class="card-item-menu" (click)="mudarTipoAcervoPorURL(1)">
            <em class="icon bi bi-file-earmark-person"></em>
            <span class="label-button">Atores</span>
        </p-card>
        <p-card class="card-item-menu" (click)="mudarTipoAcervoPorURL(2)">
            <em class="icon bi bi-bookmark-star"></em>
            <span class="label-button">Classes</span>
        </p-card>
        <p-card class="card-item-menu" (click)="mudarTipoAcervoPorURL(3)">
            <em class="icon bi-person-video3 pr-2"></em>
            <span class="label-button">Diretores</span>
        </p-card>
        <p-card class="card-item-menu" (click)="mudarTipoAcervoPorURL(4)">
            <em class="icon bi bi-upc-scan"></em>
            <span class="label-button">Itens</span>
        </p-card>
        <p-card class="card-item-menu" (click)="mudarTipoAcervoPorURL(5)">
            <em class="icon bi bi-camera-reels"></em>
            <span class="label-button">Filmes</span>
        </p-card>
    </div>
    <div class="container list col-12">
        <p-card class="list-card col-10">
            <router-outlet></router-outlet>
        </p-card>
    </div>
</div>


