div.titulo-pagina {
    padding: 20px;
}

span.titulo {
    color: var(--cor-tema-raisin-black);
    font-size: 30pt;
    font-family: 'Kreon', Verdana, sans-serif;
    font-weight: 700;
    margin-left: 10px;
    text-align: center;
    padding-top: 50px;
}

div.container {
    padding-right: 50px;
    padding-left: 50px;
}

div.acordions {
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
}

div.acordions-rota {
    padding: 5px;
}

