<div class="titulo-pagina">
    <em class="icone-uso bi bi-chat-dots"></em>
    <span class="titulo-caso">ATENDIMENTO AO CLIENTE</span>
</div>
<div class="detalhe"></div>
<div class="container col-12 flex">
    <div class="item-pagina col-12">
        <span class="titulo">Clientes</span>
    </div>

    <div class="item-pagina">
        <button pButton type="button"
                icon="pi pi-plus"
                class="button-action ui-button-success button-save-new"
                iconPos="left"
                label="Novo Cliente"
                (click)="novoSocio()">
        </button>
    </div>

    <p-tabView>
        <p-tabPanel header="Todos Clientes Ativos">
            <div class="item-pagina tabela">
                <p-table [columns]="colunas" [value]="listaClienteAtivos" [paginator]="true" [rows]="6" [responsive]="true" sortMode="multiple">
                    <ng-template pTemplate="header" let-colunas>
                        <tr>
                            <th id="titulo-colunas" *ngFor="let col of colunas" [pSortableColumn]="col.field"
                                [style]="'width:'+ col.width">
                                {{col.header}}
                                <ng-container>
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </ng-container>
                            </th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-rowData let-colunas="columns">
                        <tr>
                            <td *ngFor="let col of colunas">
                                <ng-container *ngIf="col.field === 'dataNascimento'">
                                    {{rowData[col.field] | date:"MM/dd/yyyy"}}
                                </ng-container>
                                <ng-container *ngIf="col.field != 'acoes' ">
                                    {{rowData[col.field]}}
                                </ng-container>

                                <ng-container *ngIf="col.field === 'acoes' ">
                                    <div class="column-action flex justify-content-evenly">
                                        <button pButton type="button"
                                                icon="bi bi-eye"
                                                class="button-action ui-button-success button-save-new"
                                                iconPos="left"
                                                pTooltip="Visualizar Dados"
                                                (click)="visualizarDadosCliente(rowData.id)">
                                        </button>
                                        <button pButton type="button"
                                                icon="pi pi-pencil"
                                                class="button-action ui-button-success button-save-new"
                                                iconPos="left"
                                                pTooltip="Editar Cliente"
                                                (click)="editarCliente(rowData.id)">
                                        </button>
                                        <button pButton type="button"
                                                icon="pi pi-trash"
                                                class="button-action ui-button-success button-save-new"
                                                iconPos="left"
                                                pTooltip="Excluir Cliente"
                                                (click)="desativarCliente(rowData.id)">
                                        </button>
                                    </div>
                                </ng-container>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-tabPanel>
        <p-tabPanel [selected]="abaSelecionada === true" header="Sócios Ativos">
            <app-socio-list [configuracaoListagem]="clienteAtivo === true"></app-socio-list>
        </p-tabPanel>
        <p-tabPanel [selected]="abaSelecionada === true" header="Dependentes Ativos">
            <app-dependente-list [configuracaoListagem]="clienteAtivo === true"></app-dependente-list>
        </p-tabPanel>
        <p-tabPanel [selected]="abaSelecionada === false" header="Sócios Inativos">
            <app-socio-list [configuracaoListagem]="clienteAtivo === false"></app-socio-list>
        </p-tabPanel>
        <p-tabPanel [selected]="abaSelecionada === false" header="Dependentes Inativos">
            <app-dependente-list [configuracaoListagem]="clienteAtivo === false"></app-dependente-list>
        </p-tabPanel>
    </p-tabView>
</div>
<p-dialog [(visible)]="display" header="{{tituloModal}}" [modal]="true" [contentStyle]="{'max-height':'100%'}"
          (onHide)="resetarForm()">
    <app-cliente-form [clienteModel]="cliente" (resForm)="fecharModal()"></app-cliente-form>
</p-dialog>
