<div class="titulo-pagina">
    <em class="icone-uso bi bi-chat-dots"></em>
    <span class="titulo-caso">ATENDIMENTO AO CLIENTE</span>
</div>
<div class="detalhe"></div>
<div class="container col-12 flex">
    <div class="item-pagina col-12">
        <span class="titulo">Clientes</span>
    </div>

    <div class="item-pagina">
        <button pButton type="button"
                icon="pi pi-plus"
                class="button-action ui-button-success button-save-new"
                iconPos="left"
                label="Novo Cliente"
                (click)="novoSocio()">
        </button>
    </div>

    <p-tabView>
        <p-tabPanel header="Todos Clientes Ativos">
            <app-tabela-generica
                [colunas]="colunas"
                [dados]="listaClientes"
                [paginator]="true"
                [rows]="7"
                [editarDado]="true" [desativarDado]="true" [visualizarDado]="true"
                (abrirModalVisualizar)="visualizarDadosCliente($event)"
                (abrirModalHabilitado)="editarCliente($event)"
                (deletarDado)="confirmarAcao($event)">
            </app-tabela-generica>
        </p-tabPanel>
        <p-tabPanel [selected]="configurarListagem(true)" header="Sócios Ativos">
            <app-socio-list [configuracaoListagem]="clienteAtivo"></app-socio-list>
        </p-tabPanel>
        <p-tabPanel [selected]="configurarListagem(true)" header="Dependentes Ativos">
            <app-dependente-list [configuracaoListagem]="clienteAtivo"></app-dependente-list>
        </p-tabPanel>
        <p-tabPanel [selected]="configurarListagem(false)" header="Sócios Inativos">
            <app-socio-list [configuracaoListagem]="clienteAtivo === false"></app-socio-list>
        </p-tabPanel>
        <p-tabPanel [selected]="configurarListagem(false)" header="Dependentes Inativos">
            <app-dependente-list [configuracaoListagem]="clienteAtivo === false"></app-dependente-list>
        </p-tabPanel>
    </p-tabView>
</div>
<p-dialog [(visible)]="display" header="{{tituloModal}}" [modal]="true" [contentStyle]="{'max-height':'100%'}"
          (onHide)="resetarForm()">
    <app-cliente-form [clienteModel]="cliente" (resForm)="fecharModal()"></app-cliente-form>
</p-dialog>
