<div class="titulo-pagina">
    <em class="icone-uso bi bi-chat-dots"></em>
    <span class="titulo-caso">ATENDIMENTO AO CLIENTE</span>
</div>
<div class="detalhe"></div>
<div class="flex flex-column col-12 flex">
    <div class="item-pagina col-12">
        <span class="titulo">Locações</span>
    </div>
    <div class="item-pagina">
        <button pButton type="button"
                icon="pi pi-plus"
                class="button-action ui-button-success button-save-new"
                iconPos="left"
                label="Nova locação"
                (click)="novaLocacao()">
        </button>
    </div>
    <app-tabela-generica
        [colunas]="colunas"
        [dados]="listaMovimentacaoLocacao"
        [paginator]="true"
        [rows]="8"
        [visualizarDado]="true" [editarDado]="true" [desativarDado]="true"
        (abrirModalVisualizar)="visualizarDados($event)"
        (abrirModalHabilitado)="editarLocacao($event)"
        (deletarDado)="confirmarAcao($event)">
    </app-tabela-generica>
</div>
<p-dialog [(visible)]="display" header="{{tituloModal}}" [modal]="true" [contentStyle]="{'max-height':'100%'}" (onHide)="resetarForm()">
    <app-locacao [locacaoModel]="locacao" (resForm)="fecharModal()"></app-locacao>
</p-dialog>
