div.aplicacao {
    height: 100%;
    display: flex;
    flex-direction: column;
}

div.corpo-aplicacao {
    flex: 1;
    display: flex;
    overflow: hidden;
}

div.conteudo-principal {
    flex: 1;
    overflow-y: auto;
}

.conteudo-principal > * {
    flex: 1;
}

div.container.list {
    height: 100%;
    display: flex;
    align-items: start;
    background-color: var(--cor-tema-eton-blue);
    padding: 0 5px 0 5px;
    border-bottom: 4px dashed var(--cor-tema-bittersweet);
    justify-content: center;
}
