<div class="aplicacao">
    <app-topbar [configuracaoMenuLateral]="configuracaoMenuLateral"></app-topbar>
    <div class="corpo-aplicacao">
        <app-sidemenu [configuracaoMenuLateral]="configuracaoMenuLateral"></app-sidemenu>
        <div class="conteudo-principal">
            <div class="container list col-12">
                <p-card class="list-card col-10">
                    <router-outlet></router-outlet>
                </p-card>
            </div>
        </div>
    </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>


<!--body > app-root > div > div > div > div > p-card-->
