<div class="flex flex-column col-12 flex">
    <div class="item-pagina tabela" *ngIf="ativos">
        <div class="item-pagina col-12">
            <span class="titulo">Dependentes Ativos</span>
        </div>
        <app-tabela-generica
            [colunas]="colunas"
            [dados]="listaDependentesAtivos"
            [paginator]="true"
            [rows]="8"
            [visualizarDado]="true" [desativarDado]="true"
            (abrirModalVisualizar)="visualizarDados($event)" (deletarDado)="confirmarAcao($event)">
        </app-tabela-generica>
    </div>
    <div class="item-pagina tabela" *ngIf="!ativos">
        <div class="item-pagina col-12">
            <span class="titulo">Dependentes Inativos</span>
        </div>
        <app-tabela-generica
            [colunas]="colunas"
            [dados]="listaDependentesAtivos"
            [paginator]="true"
            [rows]="8"
            [visualizarDado]="true" [reativarDado]="true"
            (abrirModalVisualizar)="visualizarDados($event)"
            (reativar)="reativarDependente($event)">
        </app-tabela-generica>
    </div>
</div>
