<div class="sidemenu" [ngClass]="{'invisivel': !estaVisivel() }">
    <div class="opcao-menu flex justify-content-center" *ngFor="let opcao of opcoes">
        <button class="button-action-side"
                pButton
                pRipple
                type="button"
                [icon]="opcao.icone"
                [label]="opcao.label"
                [pTooltip]="opcao.tooltip"
                tooltipPosition="right"
                (click)="opcao.aoClicar()">
        </button>
    </div>
</div>
