div.sidemenu {
    background-color: var(--cor-tema-blue-munsell);
    height: 100%;
    border-right: 2px dashed var(--cor-tema-bittersweet);
    width: 250px;

    &.invisivel {
        display: none;
    }
}

div.opcao-menu {
    padding: 8px;
}
