div.sidemenu {
    background-color: var(--cor-tema-raisin-black);
    height: 100%;
    border-right: 5px dashed var(--cor-tema-bittersweet);
    width: 250px;

    &.invisivel {
        display: none;
    }
}

div.opcao-menu {
    padding: 8px;
}

.button-action-side {
    width: 80%;
}
