<div class="titulo-pagina">
    <em class="icone-uso bi bi-archive"></em>
    <span class="titulo-caso">CONTROLE ACERVO</span>
</div>
<div class="detalhe"></div>
<div class="flex flex-column col-12">
    <div class="item-pagina col-12">
        <span class="titulo">Diretores</span>
    </div>

    <div class="item-pagina">
        <button pButton type="button"
                icon="pi pi-plus"
                class="button-action ui-button-success button-save-new"
                iconPos="left"
                label="Novo Diretor"
                (click)="novoDiretor()">
        </button>
    </div>

    <app-tabela-generica
        [colunas]="colunas"
        [dados]="listaDiretores"
        [paginator]="true"
        [rows]="7"
        [editarDado]="true" [desativarDado]="true"
        (abrirModalHabilitado)="editarDiretor($event)" (deletarDado)="confirmarAcao($event)">
    </app-tabela-generica>
</div>
<p-dialog [(visible)]="display" header="{{tituloModal}}" [modal]="true" [contentStyle]="{'max-height':'100%'}"
          (onHide)="resetarForm()">
    <app-diretor [diretorModel]="diretor" (resForm)="fecharModal()"></app-diretor>
</p-dialog>
