//formularios
div.form {
    display: flex;
    flex-direction: column;
}

span.item {
    justify-content: space-evenly;
    //padding-top: 10px;
    //padding-bottom: 5px;
}

span.titulo {
    font-size: 20pt;
    font-family: 'Kreon', Verdana, sans-serif;
    font-weight: 700;
    margin-left: 10px;
    color: var(--cor-tema-raisin-black);
}

div.action-form {
    display: flex;
    justify-content: space-between;
}

div.titulo-pagina {
    text-align: center;
    background-color: #eff0d15c;
    padding-top: 7px;
}

span.titulo-caso {
    color: var(--cor-tema-eton-blue);
    font-size: 25pt;
    font-family: 'Kreon', Verdana, sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 10px 10px;
}

div.detalhe {
    padding: 8px;
    border-bottom: 5px solid var(--cor-tema-bittersweet);
}

.icone-uso {
    color: var(--cor-tema-eton-blue);
    text-align: center;
    font-size: 20pt;
    padding-right: 30px;
}
