button.button-action {
    background-color: var(--cor-tema-bittersweet);
    border: var(--cor-tema-bittersweet);
}

p-card.card-item-menu .p-card-content{
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

p-card.card-item-menu .p-card-body{
    background-color: var(--cor-tema-verde);
}

app-titulo-list > p-dialog > div > div {
    min-width: 50%;
}

p-dialog-header {
    cursor: none;
}

app-cliente-list > div > p-tabview > div > div.p-tabview-panels {
    padding: 0 !important;
}

body > app-root > div > div > div > div > p-card > div {
    height: 85vh;
}

app-locacao-list > p-dialog > div > div {
    min-width: 60%;
}

app-titulo-list > p-dialog > div > div {
    min-width: 60%;
}


