button.button-action {
    background-color: var(--cor-tema-bittersweet);
    border: var(--cor-tema-bittersweet);
}

p-card.card-item-menu .p-card-content{
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

p-card.card-item-menu .p-card-body{
    background-color: var(--cor-tema-verde);
}
