:root {
    --cor-tema-englissh-vermillion: #d33f49;
    --cor-tema-bittersweet: #ff6b6b;
    --cor-tema-thistle: #d7c0d0;
    --cor-tema-beige: #eff0d1;
    --cor-tema-blue-munsell: #02c39a;
    --cor-tema-eton-blue: #77ba99;
    --cor-tema-verde: #AED581;
    --cor-tema-raisin-black: #262730;

}
