<div class="flex flex-column col-12">
    <div class="item-pagina tabela" *ngIf="ativos">
        <div class="item-pagina col-12">
            <span class="titulo">Sócios Ativos</span>
        </div>
        <div class="item-pagina">
            <button pButton type="button"
                    icon="pi pi-plus"
                    class="button-action ui-button-success button-save-new"
                    iconPos="left"
                    label="Cadastrar Sócio"
                    (click)="novoSocio()">
            </button>
        </div>
        <app-tabela-generica
            [colunas]="colunas"
            [dados]="listaSociosAtivos"
            [paginator]="true"
            [rows]="8"
            [editarDado]="true" [desativarDado]="true" [visualizarDado]="true"
            (abrirModalVisualizar)="visualizarDadosSocio($event)"
            (abrirModalHabilitado)="editarSocio($event)"
            (deletarDado)="confirmarAcao($event)">
        </app-tabela-generica>
    </div>
    <div class="item-pagina tabela" *ngIf="!ativos">
        <div class="item-pagina">
            <span class="titulo">Sócios Inativos</span>
        </div>
        <app-tabela-generica
            [colunas]="colunas"
            [dados]="listaSociosInativos"
            [paginator]="true"
            [rows]="8"
            [visualizarDado]="true" [reativarDado]="true"
            (abrirModalVisualizar)="visualizarDadosSocio($event)" (reativar)="rativarSocio($event)">
        </app-tabela-generica>
    </div>
</div>
<p-dialog [(visible)]="display" header="{{tituloModal}}" [modal]="true" [contentStyle]="{'max-height':'100%'}"
          (onHide)="resetarForm()">
    <app-socio-form [socioModel]="socio" (resForm)="fecharModal()"></app-socio-form>
</p-dialog>
