div.area-acordion {
    padding: 0;
    margin: 0;
    align-items: end;
}

div.field .button {
    padding-top: 30px;
}

div.field .acordion {
    padding-bottom: 0;
    margin-bottom: 0;
}

.place-drop {
    font-size: 14px;
    float: left;
    margin-top: 4px;
}

div.field-continuar{
    margin: 0;
    float: right;
}

div.readonly {
    padding-top: 1em;
}
