<div class="form p-fluid">
    <form [formGroup]="formCliente" class="ui-fluid">
        <div class="field col-12">
            <span class="item">
                <label class="campo-form" for="inputNome">Nome Classe</label>
                <input type="text" id="inputNome" pInputText>
            </span>
        </div>
        <div class="area flex">
            <div class="field col-6">
                <span class="item">
                    <label class="campo-form">Valor R$</label>
                    <p-inputNumber mode="currency" locale="pt-BR" currency="BRL" [min]="0"
                                   [showButtons]="true" [step]="5"></p-inputNumber>
                </span>
            </div>
            <div class="field col-6">
                <span class="item">
                    <label class="campo-form" for="prazoDevolucao">Prazo de Devolução</label>
                    <input type="text" id="prazoDevolucao" pInputText>
                </span>
            </div>
        </div>
    </form>
</div>
<div class="action-form">
    <button type="button" pButton icon="pi pi-times" label="Cancelar" (click)="fecharForm()"
            class="button-action ui-button-secondary mr-3"></button>
    <button type="button" pButton icon="pi pi-check" label="Salvar"
            class="button-action button-save-new"></button>
</div>
