<div class="form p-fluid">
    <form [formGroup]="formCliente" class="ui-fluid">
        <div class="area flex">
            <div class="field col-4">
                <span class="item">
                    <label class="campo-form">Número de Inscrição</label>
                    <input type="text" id="numInsc" pInputText formControlName="numInscricao">
                </span>
            </div>
            <div class="field col-6">
                <span class="item">
                    <label class="campo-form" for="inputNome">Nome Sócio</label>
                    <input type="text" id="inputNome" pInputText formControlName="nomeCliente">
                </span>
            </div>
            <div class="field col-2">
                <span class="item">
                    <label class="campo-form">Sexo</label>
                    <p-dropdown formControlName="sexo" [filter]="true" [options]="sexo"
                                placeholder="Selecione"
                                appendTo="body">
                        <ng-template let-item pTemplate="item">
                            <div class="ui-helper-clearfix div-itens">
                                <div class="place-drop">{{item.label}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </span>
            </div>
        </div>
        <div class="area flex">
            <div class="field col-4">
                <span class="item">
                    <label class="campo-form" for="inputDtNasc">Data Nascimento</label>
                    <input type="text" id="inputDtNasc" pInputText formControlName="dtNascimento">
                </span>
            </div>
            <div class="field col-4">
                <span class="item">
                    <label class="campo-form" for="inputCpf">CPF</label>
                    <input type="text" id="inputCpf" pInputText formControlName="cpf">
                </span>
            </div>
            <div class="field col-4">
                <span class="item">
                    <label class="campo-form" for="inputTelefone">Telefone</label>
                    <input type="text" id="inputTelefone" pInputText formControlName="telefone">
                </span>
            </div>
        </div>
        <div class="field col-12">
            <span class="item">
                <label class="campo-form" for="inputNomeTitulo">Endereço(Nº, Rua, Bairro)</label>
                <input type="text" id="inputNomeTitulo" pInputText formControlName="endereco">
            </span>
        </div>
        <div class="field-continuar">
            <button pButton type="button"
                    icon="pi pi-plus"
                    class="button-action ui-button-success button-save-new"
                    iconPos="left"
                    label="Continuar">
            </button>
        </div>
        <div class="field-acordion col-12">
            <p-accordion>
                <p-accordionTab header="Dependentes">
                    <div class="area-acordion flex col-12">
                        <div class="field acordion col-8">
                            dados do dependente
                        </div>
                        <div class="field button col-4">
                            <button type="button" pButton icon="pi pi-plus" label="Adicionar"
                                    class="button-action ui-button-secondary mr-3">
                            </button>
                        </div>
                    </div>
                    <div class="item-pagina tabela pt-1">
<!--                        <p-table [columns]="colunas" [paginator]="true" [rows]="7" [responsive]="true"-->
<!--                                 sortMode="multiple">-->
<!--                            <ng-template pTemplate="header" let-colunas>-->
<!--                                <tr>-->
<!--                                    <th id="titulo-colunas" *ngFor="let col of colunas" [pSortableColumn]="col.field"-->
<!--                                        [style]="'width:'+ col.width">-->
<!--                                        {{col.header}}-->
<!--                                        <ng-container>-->
<!--                                            <p-sortIcon [field]="col.field"></p-sortIcon>-->
<!--                                        </ng-container>-->
<!--                                    </th>-->
<!--                                </tr>-->
<!--                            </ng-template>-->

<!--                            <ng-template pTemplate="body" let-rowData let-colunas="columns">-->
<!--                                <tr>-->
<!--                                    <td *ngFor="let col of colunas">-->
<!--                                        <ng-container *ngIf="col.field != 'acoes' ">-->
<!--                                            {{rowData[col.field]}}-->
<!--                                        </ng-container>-->

<!--                                        <ng-container *ngIf="col.field === 'acoes' ">-->
<!--                                            <div class="column-action flex justify-content-evenly">-->
<!--                                                <button pButton type="button"-->
<!--                                                        icon="pi pi-trash"-->
<!--                                                        class="button-action ui-button-success button-save-new"-->
<!--                                                        iconPos="left"-->
<!--                                                        pTooltip="Retirar">-->
<!--                                                </button>-->
<!--                                            </div>-->
<!--                                        </ng-container>-->
<!--                                    </td>-->
<!--                                </tr>-->
<!--                            </ng-template>-->
<!--                        </p-table>-->
                        <app-dependente-list></app-dependente-list>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </div>
    </form>
</div>
<div class="action-form">
    <button type="button" pButton icon="pi pi-times" label="Cancelar" (click)="fecharForm()"
            class="button-action ui-button-secondary mr-3"></button>
    <button type="button" pButton icon="pi pi-check" label="Salvar"
            class="button-action button-save-new"></button>
</div>
