<div class="form p-fluid">
    <form [formGroup]="formCliente" class="ui-fluid">
        <div class="area flex">
            <div class="field col-4">
                <span class="item">
                    <label class="campo-form">Número de Inscrição</label>
                    <input type="text" id="numInsc" pInputText formControlName="numInscricao">
                </span>
            </div>
            <div class="field col-8">
                <span class="item">
                    <label class="campo-form" for="inputNome">Nome Cliente</label>
                    <input type="text" id="inputNome" pInputText formControlName="nome">
                </span>
            </div>
        </div>
        <div class="area flex">
            <div class="field col-6">
                <span class="item">
                    <label class="campo-form">Sexo</label>
                    <div class="area flex align-items-center">
                        <div class="radio">
                            <p-radioButton name="groupname" [value]="1" label="Feminino" class="pr-2"
                                           formControlName="sexo"></p-radioButton>
                        </div>
                        <div class="radio">
                            <p-radioButton name="groupname" [value]="2" label="Masculino" class="pr-2"
                                           formControlName="sexo"></p-radioButton>
                        </div>
                        <div class="radio">
                            <p-radioButton name="groupname" [value]="3" label="Outro" class="pr-2"
                                           formControlName="sexo"></p-radioButton>
                        </div>
                    </div>
                </span>
            </div>
            <div class="field col-6">
                <span class="item">
                    <label class="campo-form" for="inputDtNasc">Data Nascimento</label>
                    <p-calendar
                        class="calendario"
                        placeholder="DD/MM/AAAA"
                        id="inputDtNasc"
                        formControlName="dataNascimento"
                        dateFormat="dd/mm/yy"
                        appendTo="body"
                        [yearNavigator]="true"
                        [defaultDate]="dataNascimento"
                        [showIcon]="true"
                    ></p-calendar>
                </span>
            </div>
        </div>
    </form>
</div>
<div class="action-form">
    <button type="button" pButton icon="pi pi-times" label="Cancelar" (click)="fecharForm()"
            class="button-action ui-button-secondary mr-3"></button>
    <button type="button" pButton icon="pi pi-check" label="Salvar" (click)="salvarFormulario()"
            class="button-action button-save-new"></button>
</div>
