<div class="form p-fluid">
    <form [formGroup]="formTituloFilme" class="ui-fluid">
        <div class="field col-12">
            <span class="item">
                <label class="campo-form" for="inputNomeTitulo">Nome Titulo</label>
                <input type="text" id="inputNomeTitulo" pInputText formControlName="nome">
            </span>
        </div>
        <div class="area flex">
            <div class="field col-4">
                <span class="item">
                    <label class="campo-form" for="inputAno">Ano</label>
                    <input type="text" id="inputAno" pInputText formControlName="ano">
                </span>
            </div>
            <div class="field col-4">
                <span class="item">
                    <label class="campo-form" for="inputCategoria">Categoria</label>
                    <input type="text" id="inputCategoria" pInputText formControlName="idCategoria">
                </span>
            </div>
            <div class="field col-4">
                <span class="item">
                    <label class="campo-form" for="inputClasse">Classe</label>
                    <input type="text" id="inputClasse" pInputText formControlName="idClasse">
                </span>
            </div>
        </div>
        <div class="field col-12">
            <span class="item">
                <label class="campo-form" for="inputDiretor">Diretor</label>
                <input type="text" id="inputDiretor" pInputText formControlName="idDiretor">
            </span>
        </div>
        <div class="field col-12">
            <span class="item">
                <label class="campo-form" for="inputAno">Sinopse</label>
                <textarea rows="5" cols="30" pInputTextarea formControlName="sinopse"></textarea>
            </span>
        </div>
        <div class="field col-12">
            <span class="item">
                <label class="campo-form" for="inputAtores">Atores</label>
                <input type="text" id="inputAtores" pInputText formControlName="idAtores">
            </span>
        </div>
    </form>
</div>
<div class="action-form">
    <button type="button" pButton icon="pi pi-times" label="Cancelar" (click)="fecharForm()"
            class="button-action ui-button-secondary mr-3"></button>
    <button type="button" pButton icon="pi pi-check" label="Salvar" (click)="salvarFormulario()"
            class="button-action button-save-new"></button>
</div>
