<div class="form p-fluid">
    <form [formGroup]="formItem" class="ui-fluid">
        <div class="field col-12">
            <span class="item">
                <label class="campo-form" for="inputtext">Nome Autor</label>
                <input type="text" id="inputtext" pInputText formControlName="nomeAtor">
            </span>
        </div>
    </form>
</div>
<div class="action-form">
    <button type="button" pButton icon="pi pi-times" label="Cancelar"
            class="button-action ui-button-secondary mr-3"></button>
    <button type="button" pButton icon="pi pi-check" label="Salvar"
            class="button-action button-save-new"></button>
</div>
