<div class="form p-fluid">
    <form [formGroup]="formItem" class="ui-fluid">
        <div class="field col-12">
            <span class="item">
                <label class="campo-form" for="inputNumSer">Número de Série</label>
                <input type="text" id="inputNumSer" pInputText formControlName="numeroSerie">
            </span>
        </div>
        <div class="field col-12">
            <span class="item">
                <label class="campo-form">Título Filme</label>
                <p-dropdown formControlName="idTitulo" [filter]="true" [options]="titulosDropDown"
                            placeholder="Selecione"
                            appendTo="body">
                        <ng-template let-item pTemplate="item">
                            <div class="ui-helper-clearfix div-itens">
                                <div class="place-drop">{{item.label}}</div>
                            </div>
                        </ng-template>
                </p-dropdown>
            </span>
        </div>
        <div class="area flex">
            <div class="field col-6">
                <span class="item">
                    <label class="campo-form" for="inputData">Data Aquisição</label>
                    <input type="text" id="inputData" pInputText formControlName="data">
                </span>
            </div>
            <div class="field col-6">
                <span class="item">
                    <label class="campo-form">Tipo Item</label>
                    <p-dropdown formControlName="idClasse" [options]="tipoItemDropDown" placeholder="Selecione"
                                appendTo="body" class="ui-fluid">
                    </p-dropdown>
                </span>
            </div>
        </div>
    </form>
</div>
<div class="action-form">
    <button type="button" pButton icon="pi pi-times" label="Cancelar" (click)="fecharForm()"
            class="button-action ui-button-secondary mr-3"></button>
    <button type="button" pButton icon="pi pi-check" label="Salvar" (click)="salvarFormulario()"
            class="button-action button-save-new"></button>
</div>
