<!--<div class="form p-fluid">-->
<!--    <form [formGroup]="formCliente" class="ui-fluid">-->
<!--        <div class="field col-12">-->
<!--            <span class="item">-->
<!--                <label class="campo-form" for="inputNome">Nome Cliente</label>-->
<!--                <input type="text" id="inputNome" pInputText formControlName="nomeCliente">-->
<!--            </span>-->
<!--        </div>-->
<!--        <div class="field col-12">-->
<!--            <span class="item">-->
<!--                <label class="campo-form" for="inputEndereco">Endereço</label>-->
<!--                <input type="text" id="inputEndereco" pInputText formControlName="nomeCliente">-->
<!--            </span>-->
<!--        </div>-->

<!--    </form>-->
<!--</div>-->
<!--<div class="action-form">-->
<!--    <button type="button" pButton icon="pi pi-times" label="Cancelar" (click)="fecharForm()"-->
<!--            class="button-action ui-button-secondary mr-3"></button>-->
<!--    <button type="button" pButton icon="pi pi-check" label="Salvar"-->
<!--            class="button-action button-save-new"></button>-->
<!--</div>-->
