<div class="form p-fluid">
    <form [formGroup]="formCliente" class="ui-fluid">
        <div class="area flex">
            <div class="field col-4">
                <span class="item">
                    <label class="campo-form" for="inputNumInsc">Nº Inscricao</label>
                    <input type="text" id="inputNumInsc" pInputText formControlName="numInscricao">
                </span>
            </div>
            <div class="field col-8">
                <span class="item">
                    <label class="campo-form" for="inputNome">Nome Cliente</label>
                    <input type="text" id="inputNome" pInputText formControlName="nomeCliente">
                </span>
            </div>
        </div>

        <div class="area flex">
            <div class="field col-4">
                <span class="item">
                    <label class="campo-form" for="inputCPF">CPF</label>
                    <input type="text" id="inputCPF" pInputText formControlName="numInscricao">
                </span>
            </div>
            <div class="field col-4">
                <span class="item">
                    <label class="campo-form" for="inputDtNasc">Data Nascimento</label>
                    <input type="text" id="inputDtNasc" pInputText formControlName="numInscricao">
                </span>
            </div>
            <div class="field col-4">
                <span class="item">
                    <div class="field-radiobutton">
                        <p-radioButton name="sexo" value="Masculino" inputId="inputSexoM" formControlName="sexo"></p-radioButton>
                        <label class="campo-form">Masculino</label>
                    </div>
                    <div class="field-radiobutton">
                        <p-radioButton name="sexo" value="Feminino" inputId="inputSexoF" formControlName="sexo"></p-radioButton>
                        <label class="campo-form">Feminino</label>
                    </div>
                </span>
            </div>
        </div>

        <div class="field col-12">
            <span class="item">
                <label class="campo-form" for="inputEndereco">Endereço</label>
                <input type="text" id="inputEndereco" pInputText formControlName="nomeCliente">
            </span>
        </div>

    </form>
</div>
<div class="action-form">
    <button type="button" pButton icon="pi pi-times" label="Cancelar" (click)="fecharForm()"
            class="button-action ui-button-secondary mr-3"></button>
    <button type="button" pButton icon="pi pi-check" label="Salvar"
            class="button-action button-save-new"></button>
</div>
