<div class="topbar">
    <div class="inicio-topbar">
        <button pButton pRipple type="button" icon="icon bi bi-house-door" class="p-button-rounded"
                (click)="alternarVisibilidadeMenuLateral()">
        </button>
        <span class="titulo">Locadora</span>
    </div>
    <div class="item-pagina botao-login flex justify-content-end">
        <button *ngIf="!logRealizado"
                pButton type="button"
                class="ui-button-success button-save-new"
                iconPos="left"
                label="Conecte-se"
                (click)="novoLogin()">
        </button>
        <button *ngIf="logRealizado"
                icon="bi bi-box-arrow-right"
                pButton type="button"
                class="ui-button-success button-save-new"
                iconPos="left"
                label="Sair"
                (click)="confirmarAcao()">
        </button>
    </div>
</div>
<p-dialog [(visible)]="display" header="{{tituloModal}}" [modal]="true" [contentStyle]="{'max-height':'100%'}"
          (onHide)="fecharForm()">
    <form [formGroup]="formLogin">
        <div class="field col-12">
            <span class="item">
            <label class="campo-form" for="email">Email</label>
            <input type="email" id="email" aria-describedby="emailHelp" pInputText formControlName="email">
            </span>
        </div>
        <div class="field col-12">
            <span class="item">
            <label class="campo-form" for="senha">Senha</label>
            <input type="password" id="senha" pInputText formControlName="senha">
            </span>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Lembrar de mim</label>
        </div>
    </form>
    <div class="action-form">
        <button type="button" pButton icon="pi pi-times" label="Cancelar" (click)="fecharForm()"
                class="button-action ui-button-secondary mr-3"></button>

        <button type="button" pButton icon="bi bi-check-all" label="Conecte-se" (click)="realizarLogin()"
                class="button-action button-save-new"></button>
    </div>
</p-dialog>
